.form-products-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000000; /* Cambié el color del texto a negro para mejor contraste */
}

.product-form {
  width: 100%;
}

.form-products-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000; /* Cambié el color del título a negro */
}

.input-group-products {
  display: flex;
  gap: 15px; /* Espacio entre los inputs */
  margin-bottom: 15px;
}

.input-field-products {
  flex: 1; /* Hace que los inputs ocupen el mismo espacio */
}

.product-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000; /* Cambié el color del texto de las etiquetas a negro */
}

.product-form input,
.product-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd; /* Añadí un borde para mejor visibilidad */
  border-radius: 5px;
  background-color: #f4f2ee; /* Fondo claro para los inputs */
}

.product-form input:focus,
.product-form textarea:focus {
  outline: none;
}

.product-form button {
  width: 100%;
  padding: 10px;
  background-color: #2713C2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.product-form button:hover {
  background-color: #1a0d8a; /* Cambié el color al hacer hover */
}

@media (max-width: 768px) {
  .input-group {
    flex-direction: column; /* En móviles, los inputs se apilan */
  }
}