/* Contenedor principal */
.form-signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: rgb(10, 9, 9);
    background: linear-gradient(
      146deg,
      rgba(10, 9, 9, 1) 28%,
      rgba(7, 4, 33, 1) 49%,
      rgba(5, 0, 56, 1) 87%,
      rgba(39, 24, 77, 1) 98%
    ); */
    background-color: transparent;
    
  }
  
  /* Estilo del formulario */
  .form-signIn {
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    /* max-width: 400px; */
  }
  
  h1 {
    color: black;
    margin-bottom: 30px;
    font-family: Garamond;
  }
  .fields-signIn-container{
    width: 90%;
  }
  .email-signIn{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .field-email-signIn{
    background-color: #f4f2ee;
    border-radius: 5px;
    height: 50px;
    border: 1px solid #ddd;
    padding: 0.75rem;
  }
  .field-email-signIn:focus{
    outline: none;
  }
  .password-signIn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
  .field-password-signIn{
    background-color: #f4f2ee;
    border-radius: 5px;
    height: 50px;
    border: 1px solid #ddd;
    padding: 0.75rem;
  }
  .field-password-signIn{
    outline: none;
  }
  .alerts-container-signIn{
    margin-top: 20px;
    width: 95%;
  }
  .btn-send-formSignIn{
    margin-top: 35px;
  }
  .signin-google{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  .signin-google h2{
    color:black;
    font-family: Garamond;
    font-size: 25px;
  }
  .google-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 400px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid white;
    gap: 10px;
  }
  .google-container img{
    width: 60px;
    height: 40px;
    cursor: pointer;
  }
  .google-container h2{
    cursor: pointer;
  }
  
  /* Contenedor de cada input */
  .field-signInSeller-container {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Estilo de los inputs */
  .field.passwordSignInSeller {
    width: 100%;
    padding: 10px;
    background: #f4f2ee;
    border: none;
    border-bottom: 2px solid white;
    color: black;
    font-size: 1rem;
    outline: none;
    transition: border-bottom-color 0.3s ease;
  }
  .field.emailSignInSeller{
    width: 100%;
    padding: 10px;
    background: #f4f2ee;
    border: none;
    border-bottom: 2px solid white;
    color: black;
    font-size: 1rem;
    outline: none;
    transition: border-bottom-color 0.3s ease;
  }
  
  /* Placeholder */
  .field::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  
  /* Enfoque del input */
  .field:focus {
    border-bottom-color: white; /* Manteniendo el borde blanco en el foco */
  }
  
  /* Estilo del botón de envío */
  .submit-btn {
    background-color: rgba(39, 24, 77, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: rgba(7, 4, 33, 1);
  }
  
  .submit-btn:focus {
    outline: none;
  }
  