/* Estilos generales */
.form-signUp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    font-family: 'Garamond';
    font-size: 50px;
    color: white;
    text-align: center;
}

/* Formulario */
.form-signUp {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid white;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

/* Grid del formulario */
.fields-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

/* Distribución de los campos */
.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Campos que ocupan toda la fila */
.field.full-width {
    grid-column: span 2;
}

/* Contraseñas en la misma fila */
.field.passwordSignUpSeller {
    width: 100%;
}

.password-group {
    display: flex;
    gap: 20px;
    grid-column: span 2;
}

/* Botón */
.button-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.field.border{
    border-radius: 5px;
    background-color: #f4f2ee;
    height: 50px;
    border: 1px solid #ddd;
    padding: 0.75rem;

}
.field.border::placeholder{
    color: black;
    text-indent:10px ;
}
.field.border:focus{
    outline: none;
    
}
.alerts-container{
    margin-top: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
    .fields-grid {
        grid-template-columns: 1fr;
    }

    .field.full-width {
        grid-column: span 1;
    }

    .password-group {
        flex-direction: column;
        gap: 10px;
    }
}
